/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.slogon {
  text-align: center;
  margin-bottom: 80px;
  width: 100%;
}
.slogon h1 {
  font-size: 100px;
  color: #ebeced;
  margin-top: 0;
  margin-bottom: 0;
}
.slogon p {
  color: #797979;
  font-size: 20px;
  margin-top: -30px;
}
a.go-up {
  width: 30px;
  color: #fff;
  background-color: var(--main-color);
  text-decoration: none;
  position: fixed;
  right: 20px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* End Global Rules */

/* Start nav-bar */
.nav-bar {
  padding: 20px;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .logo,
.nav-bar .logo img {
  width: 60px;
}
.nav-bar .links .button {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-bar .links .button span {
  height: 2px;
  background-color: #000;
  display: block;
  width: 100%;
}
.nav-bar .links .button span:not(:last-of-type) {
  margin-bottom: 6px;
}
.nav-bar .links .button span:nth-of-type(2) {
  width: 50%;
  transition: var(--main-duration);
}
.nav-bar .links .button:hover span:nth-of-type(2) {
  width: 100%;
}
.nav-bar .links .dropdown-list {
  position: relative;
  display: none;
}
.nav-bar .links:hover .dropdown-list {
  display: block;
}
.nav-bar .links .dropdown-list::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  bottom: -15px;
  left: 5px;
}
.nav-bar .links .dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 15px;
  width: 180px;
}
.nav-bar .links .dropdown-list ul li {
  background-color: #f6f6f6;
  color: #333;
  padding: 15px;
  width: 100%;
  transition: var(--main-duration);
}
.nav-bar .links .dropdown-list ul li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
.nav-bar .links .dropdown-list ul li:hover {
  cursor: pointer;
  padding-left: 30px;
}
.nav-bar .links .dropdown-list ul li a {
  text-decoration: none;
  color: #333;
}
.nav-bar .links .dropdown-list ul li a:focus {
  color: #333;
}
/* End nav-bar */

/* Start Landing */
.landing {
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .content {
  text-align: center;
  width: 320px;
}
.landing h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 0;
}
.landing p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */

/* Start Features */
.features {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: flex;
  justify-content: space-between;
}
.features .feat-box {
  width: 30%;
  text-align: center;
}
.features .feat-box i {
  color: var(--main-color);
  margin-bottom: 30px;
}
.features .feat-box h3 {
  margin-bottom: 30px;
  font-weight: 800;
}
.features .feat-box p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */

/* Start Services */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .first,
.services .second,
.services .third {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}
.services .third {
  position: relative;
  align-items: center;
  display: none;
}
.services .third::before {
  content: '';
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleY(1.3);
}
.services .third img {
  position: absolute;
  right: 50px;
  height: 100%;
  width: 70%;
}
.services .container .services-box {
  display: flex;
}
.services .first .services-box:first-of-type,
.services .second .services-box:first-of-type {
  margin-bottom: 40px;
}
.services .container .services-box .icon {
  margin-right: 30px;
}
.services .container .services-box .icon i {
  color: var(--main-color);
}
.services .services-box .content h3 {
  margin-bottom: 20px;
}
.services .services-box .content p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
/* End Services */

/* Start Portfolio */
.portfolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio .container .project {
  width: 32%;
  background-color: #fff;
}
.portfolio .container .project img {
  width: 100%;
}
.portfolio .container .project .content {
  background-color: #fff;
  padding: 20px;
}
.portfolio .container .project .content p {
  color: #777;
  line-height: 1.6;
  margin-top: 20px;
}
/* End Portfolio */

/* Start About */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .container .photo {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .container .photo::before {
  content: '';
  width: 40%;
  height: calc(100% + 80px);
  background-color: #ebeced;
  position: absolute;
  top: -40px;
  left: 0;
}
.about .container .photo::after {
  content: '';
  width: 50%;
  height: 80%;
  background-color: #fff;
  position: absolute;
  top: -40px;
  right: 0;
  transform: translateX(85%);
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}
.about .container .photo img {
  max-width: 100%;
  z-index: 2;
  position: absolute;
  left: 20px;
}
.about .container .content {
  width: 50%;
  position: relative;
}
.about .container .content:before {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  height: 2px;
  width: 40%;
  background-color: var(--main-color);
}
.about .container .content p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 80px;
}
.about .container .content p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */

/* Start Contact */
.contact {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .container .content {
  text-align: center;
}
.contact .content p.label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .content a {
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.contact .content .social p {
  margin-bottom: 20px;
}
.contact .content .social i {
  cursor: pointer;
}
/* End Contact */
/* Start Footer */
.footer {
  text-align: center;
  padding: 30px 10px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */

/* Media */
@media screen and (max-width: 767px) {
  .features .container {
    display: block;
  }
  .features .feat-box {
    width: 100%;
  }
  .features .feat-box:not(:last-of-type) {
    margin-bottom: 70px;
  }
  .slogon h1 {
    font-size: 58px;
  }
  .slogon p {
    font-size: 15px;
  }
  .services .container {
    display: block;
  }
  .services .first,
  .services .second {
    width: 100%;
    margin-bottom: 40px;
  }
  .services .container .services-box {
    display: block;
    text-align: center;
  }
  .services .container .services-box .icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .services .services-box .content p {
    padding-left: 40px;
    padding-right: 40px;
  }
  .portfolio .container {
    display: block;
  }
  .portfolio .container .project {
    width: 100%;
    margin-bottom: 20px;
  }
  .about .container {
    justify-content: center;
  }
  .about .container .photo {
    position: static;
    margin-bottom: 40px;
  }
  .about .container .photo::before,
  .about .container .photo::after {
    display: none;
  }
  .about .container .photo img {
    position: static;
  }
  .about .container .content {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about .container .content:before {
    top: 50%;
    transform: translateX(75%);
  }
  .contact .content p.label,
  .contact .content a {
    font-size: 22px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .features .container {
    display: flex;
    flex-wrap: wrap;
  }
  .features .feat-box {
    width: 45%;
  }
  .features .feat-box:not(:last-of-type) {
    margin-bottom: 70px;
  }
  .portfolio .container {
    flex-wrap: wrap;
  }
  .portfolio .container .project {
    width: 49%;
    margin-bottom: 20px;
  }
  .about .container {
    justify-content: center;
  }
  .about .container .photo {
    position: static;
    margin-bottom: 40px;
  }
  .about .container .photo::before,
  .about .container .photo::after {
    display: none;
  }
  .about .container .photo img {
    position: static;
  }
  .about .container .content {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about .container .content:before {
    top: 50%;
    transform: translateX(75%);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .services .third {
    display: flex;
  }
  .services .first,
  .services .second,
  .services .third {
    width: 30%;
  }
}
/* Media */

/* Start Link */
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
/* End Link */
